<!-- This part of kod will be imported to new.ejs file as a port of the HTML form -->


<label for="kurskod">Kurskod:</label><br />
<input
  required
  value="<%= course.kurskod  %> "
  type="text"
  id="kurskod"
  name="kurskod"
/>
<label for="kursnamn">Kursnamn:</label><br />
<input
  required
  value="<%= course.kursnamn  %> "
  type="text"
  id="kursnamn"
  name="kursnamn"
/><br />
<label for="progression">progression</label><br />
<input
  required
  value="<%= course.progression  %> "
  type="text"
  id="progression"
  name="progression"
/><br />
<label for="termin">Termin:</label><br />
<input
  required
  value="<%= course.termin %> "
  type="text"
  id="termin"
  name="termin"
/>
<label for="kursplan">Kursplan:</label><br />
<input
  value="<%= course.kursplan  %> "
  required
  type="text"
  id="kursplan"
  name="kursplan"
/>
<a href="/" class="btn btn_cancel">Avbryt</a>
<button type="submit">Spara</button>
